/Library
Library
/Library/ArtifactDB
/Temp
/*.csproj
/*.vsconfig
/*.sln
/heartdoor.sln
/.idea/.idea.heartdoor/.idea/.gitignore
/.idea/.idea.heartdoor/.idea/.name
/.idea/.idea.heartdoor/.idea/encodings.xml
/.idea/.idea.heartdoor/.idea/indexLayout.xml
/.idea/.idea.heartdoor/.idea/vcs.xml
/Logs/ApiUpdaterCheck.txt
/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/obj/Debug/UnityEditor.TestRunner.csprojAssemblyReference.cache
/obj/Debug/UnityEngine.TestRunner.csprojAssemblyReference.cache
/obj/Debug/UnityEngine.UI.csprojAssemblyReference.cache
/Assembly-CSharp.csproj
/Logs
